@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2C2D38;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Scandia", sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2C2D38;
    --foreground: #ededed;
  }
}

/* ---------------------------------------------
   Scandia Font Faces
----------------------------------------------*/

@font-face {
  font-family: "Scandia";
  src: url("/fonts/Scandia-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scandia";
  src: url("/fonts/Scandia-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 180px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Scandia", sans-serif;
}

/* Reusable utilities */
.container-px { @apply px-4 sm:px-6 lg:px-8; }

.max-w-screen {
  max-width: 1023px;
  margin-left: auto;
  margin-right: auto;
}

/* Anchor links */
#what-you-get {
  scroll-margin-top: 0px;
}

#business-owners {
  scroll-margin-top: -90px;
}

#download {
  scroll-margin-top: 0px;
}

#how-it-works {
  scroll-margin-top: -100px;
}

@media (max-width: 768px) {
  #what-you-get {
    scroll-margin-top: 80px;
  }

  #business-owners {
    scroll-margin-top: 80px;
  }

  #download {
    scroll-margin-top: 80px;
  }

  #how-it-works {
    scroll-margin-top: 20px;
  }
}
